<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="org.tensorflow.lite.examples.classification">

    <uses-sdk />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-feature android:name="android.permission.FLASHLIGHT" />
    <uses-permission android:name="android.permission.FLASHLIGHT" android:permissionGroup="android.permission-group.HARDWARE_CONTROLS" android:protectionLevel="normal" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.hardware.camera.flash" />
    <uses-feature android:name="android.hardware.camera.flash" android:required="false" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/activity_name_classification"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        tools:ignore="ExtraText"
        android:appComponentFactory="android.support.v4.app.CoreComponentFactory"
        tools:replace="android:appComponentFactory"
        android:theme="@style/Theme.AppCompat.Light">
    android:theme="@style/AppTheme">
        <activity
            android:name=".ClassifierActivity"
            android:label="@string/activity_name_classification"
            android:exported="true"
            android:screenOrientation="fullSensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".CameraActivity"
            android:theme="@style/Theme.AppCompat.Light">

        </activity>
    </application>
</manifest>
