@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    align-items: center;
    justify-content: center;
    background-color: #ADE5F9;
    min-height: 100vh;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

.card::after,
.card img {
    border-radius: 50%;
}

body,
.card,
.stats {
    display: flex;
}

.card {
    padding: 2.5rem 2rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.107);
    max-width: 500px;
    box-shadow: 0 0 30px rgba(0, 0, 0, .15);
    margin: 1rem;
    position: relative;
    transform-style: preserve-3d;
    overflow: hidden;
}

.card::before,
.card::after {
    content: '';
    position: absolute;
    z-index: -1;
}

.card::before {
    width: 100%;
    height: 100%;

    border-radius: 10px;
    top: -.7rem;
    left: -.7rem;
}

.card::after {
    height: 15rem;
    width: 15rem;
    background-color: #275df0aa;
    top: -8rem;
    right: -8rem;
}

.card img {
    width: 8rem;
    min-width: 80px;

}

.infos {
    margin-left: 1.5rem;
}

.name {
    margin-bottom: 1rem;
}

.name h2 {
    font-size: 1.3rem;
}

.name h4 {
    font-size: .8rem;
    color: #333
}

.text {
    font-size: .9rem;
    margin-bottom: 1rem;
}

.stats {
    margin-bottom: 1rem;
}

.stats li {
    min-width: 5rem;
}

.stats li h3 {
    font-size: .99rem;
}

.stats li h4 {
    font-size: .75rem;
}

.links button {
    font-family: 'Poppins', sans-serif;
    min-width: 120px;
    padding: .5rem;
    border: 1px solid #222;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: all .25s linear;
}

.links .follow,
.links .view:hover {
    background-color: #222;
    color: #FFF;
}

.links .view,
.links .follow:hover {
    background-color: transparent;
    color: #222;
}

@media screen and (max-width: 450px) {
    .card {
        display: block;
    }

    .infos {
        margin-left: 0;
        margin-top: 1.5rem;
    }

    .links button {
        min-width: 100px;
    }
}