#nav{
    width: 100%;
    height: 10vh;
    padding: 0 5%;
    display: flex;
    font-size: 3.5vh;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 2vh;
    font-weight: 600;
}

#nav a {
    color: #0a66c2;
    text-decoration: none;
    padding: 1.5vh 3vh;
}
#nav div{
    flex: 1;
    display: flex;
    justify-content: space-evenly;
}

#signIN:hover {
    background-color: rgb(197, 197, 197);
    padding: 1.5vh 3vh;
    border: .2vh solid #b4b4b4;
    border-radius: 5vh;
}
#logo{
    font-weight: 700;
    font-size: 5vh;
    flex: 1;
}

#signup:hover {
    background-color: #d4eaff;
}


@media screen and (max-width:700px) {

    #nav{
        font-size: 2.5vh;
    }
    #logo{
        font-weight: 700;
        font-size: 3.5vh;
    }

}

/* Main Section */

#mainContainer {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    flex: 50%;
    padding: 4vh 7vh;
    max-height: 70vh;
}

#mainContainer div {
    flex: 1;
}

#mainContainer p {
    font-size: 10vh;
    color: #8f5849;
    font-weight: 100;
    font-family: 'Helvetica Neue';
}

#mainContainer img {
    width: 100%;
    height: 80vh;
    border-radius: 1vh;
    box-shadow: inset 7px -8px 129px -52px rgba(0, 0, 0, 0.8);
}

#cards {
    margin-top: 5vh;
}

#cards div {
    width: 80%;
    padding: 3vh;
    margin-top: 3vh;
    border: .2vh solid rgb(199, 190, 190);
    font-size: 4vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    border-radius: 1vh;
    cursor: pointer;
    display: flex;
    justify-content: space-between;

}

#cards div:hover {
    transform: scale(1.03);
    box-shadow: 7px 18px 63px -13px rgba(0, 0, 0, 0.75);
}

@media screen and (max-width:700px) {

    #mainContainer p {
        font-size: 7vh;

    }

    #cards div {
        font-size: 2vh;
    }

    #mainContainer img {
        width: 100%;
        height: 60vh;
    }
}

@media screen and (max-width:500px) {

    #mainContainer {
        flex-direction: column;
        gap: 3rem;
    }
    #mainContainer div {
        width: 100%;
    }

    #mainContainer p {
        font-size: 7vh;
    }

    #cards div {
        font-size: 2vh;
    }

    #mainContainer img {
        width: 100%;
        height: 60vh;
    }
}

/* Sign Container */

#signContainer {
    width: 80vw;
    height: 95vh;
    max-height: 100vh;
    margin: 1vw 5vw;
    padding: .1vh;
}

#signFormContainer {
    width: 40vw;
    margin: 0vh 20vw;
    height: fit-content;
    max-height: 91.5vh;
    padding: 3vh;
    border-radius: 2vh;
    font-size: 4vh;
    box-shadow: -1px 12px 24px -5px rgba(0, 0, 0, 1);
    background-color: antiquewhite;
}

#signContainer input {
    width: 95%;
    font-size: 3vh;
    border-radius: 1vh;
    padding: 1vh;
    border: .1vh solid black;
}

#loginFormContainer {
    width: 40vw;
    margin: 1vh 20vw;
    height: 75vh;
    padding: 3vh;
    border-radius: 2vh;
    font-size: 4vh;
    box-shadow: -1px 12px 24px -5px rgba(0, 0, 0, 1);
    background-color: antiquewhite;
}


/* Feeds Section */





/* Feeds Section Ends */