#detailsContainer {
    width: 60%;
    margin: 4vh auto;
    height: 90vh;
    box-sizing: border-box;
    border-radius: 5vh;
    box-shadow: 0px 0px 29px 11px rgba(0, 0, 0, 0.76);
}

h1 {
    color: var(--colorlogo);
    font-size: 6vh;
}

button {
    font-size: 3vh;
    padding: 1vh 3vh;
}

#detailsView {
    padding: 5%;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: start;
    border-bottom-left-radius: 5vh;
    border-bottom-right-radius: 5vh;
    background-image: linear-gradient(120deg, var(--lightblue1) 0%, var(--lightblue2) 100%);
}

.bookImage {
    flex: 1;
    height: 40vh;
    margin-right: 5%;
    border-radius: 3vh;
}

.bookImage img {
    width: 100%;
    height: 100%;
    border-radius: 3vh;
    border: .1vh dotted;
}

.bookImage img:hover {
    transform: scaleX(1) scaleY(1) scaleZ(1) rotateX(1deg) rotateY(-36deg) rotateZ(1deg) translateX(0px) translateY(0px) translateZ(0px) skewX(0deg) skewY(0deg);
    transition-duration: .8s;
}

.aboutBook {
    flex: 2;
}

.aboutBook h6 {
    font-size: 2.75vh;
    font-style: italic;
    color: var(--colorlogo);
}

.aboutBook h3 {
    font-size: 5vh;
    padding: 1vh 0;
    color: var(--buttonBG);
}

.aboutBook li {
    font-size: 3vh;
    padding: 1vh 0 0 0;
    color: var(--colorPara);
}

.aboutBook li span {
    font-weight: 600;
    color: var(--colorPara);
}

.buttons {
    display: flex;
    flex-direction: column;
    font-size: 3vh;
    text-align: center;
    margin-top: 3vh;
}

.buttons a {
    width: 60%;
    font-weight: 700;
    padding: 1vh 3vh;
    border-radius: 2vh;
    border: none;
    margin: 1vh 0;
}

.buttons a:hover {
    transform: scale(1.06);
}

@media screen and (max-width:1550px) {
    #detailsContainer {
        width: 80%;
    }
    #detailsContainer>img{
        width: 50%;
    }
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .buttons a {
        width: 80%;
    }
    h1 {
        font-size: 5vh;
    }
}

@media screen and (max-width:800px) {
    #detailsContainer {
        width: 80%;
        height: fit-content;
    }
    .bookImage img {
        width: 100%;
        height: 50vh;
    }
    #detailsView {
        padding: 5% 0;
        width: 95%;
        margin: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .bookImage {
        flex: 1;
        height: 40vh;
        margin-right: 0;
        border-radius: 3vh;
    }
    #detailsContainer>img{
        width: 50%;
    }
    .buttons a {
        width: 80%;
    }
    button {
        font-size: 2.5vh;
        padding: 1vh;
    }
  
}

@media screen and (max-width:550px) {
    .aboutBook h3 {
        font-size: 4vh;
        padding: .5vh 0;
    }

    h1 {
        font-size: 5vh;
    }

    .buttons a {
        width: 80%;
    }

    button {
        font-size: 2.5vh;
        padding: 1vh 2vh;
    }
    #detailsContainer>img{
        width: 50%;
    }
  
}

@media screen and (max-width:450px) {
    .aboutBook h3 {
        font-size: 3.5vh;
        padding: .5vh 0;
    }

    h1 {
        font-size: 4.5vh;
    }

    .buttons a {
        width: 90%;
    }

    #detailsContainer {
        width: 95%;
    }
    #detailsContainer>img{
        width: 50%;
    }
    .aboutBook h6 {
        font-size: 2vh;
    }
  
}

@media screen and (max-width:350px) {
    .aboutBook h3 {
        font-size: 3.5vh;
        padding: .5vh 0;
    }

    h1 {
        font-size: 3.5vh;
    }

    .buttons a {
        width: 90%;
        font-size: 2.5vh;
        padding: 1vh;
    }

    #detailsContainer {
        width: 98%;
        margin: 5vh auto;
        border-radius: 5vh;
    }

    button {
        font-size: 2vh;
        padding: 1vh;
    }
    .aboutBook li {
        font-size: 2vh;
    }
    .aboutBook h6 {
        font-size: 2vh;
    }
    #detailsContainer>img{
        width: 50%;
    }
  
}