::-webkit-scrollbar{
    display: none;
    scroll-behavior: smooth;
}

#searchContainer{
    width: 95%;
    margin: 5vh auto;
    min-height: 90vh;
    max-height: 100vh;
    overflow-y: scroll;
    background-image: linear-gradient(120deg, var(--lightblue1) 0%, var(--lightblue2) 100%);
    background-size: cover;
    border-radius: 2vh;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

#searchPageContainer{
    width: 95%;
    padding-top: 5vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#searchPageContainer .link h1{
    width: 100%;
    color: var(--colorlogo);
    font-size: 5vh;
    text-transform: uppercase;
}
#searchPageContainer input{
    width: 40%;
    font-size: 3vh;
    padding: 1vh 3vh;
    border: none;
    border-radius: 1vh;
    caret-color: tomato;
    outline-color: blueviolet;
}


#searchListContainer{
    width: 80%;
    margin: 5vh auto;
    padding: 0 2vh;
    background-color: var(--searchResultBG);
    text-align: center;
    border-radius: 1vh;
    color: var(--colorPara);
}
#searchListContainer h1{
    color: var(--colorlogo);
}

#searchListContainer #filters{
    width: 90%;
    margin: auto;
    padding: 3vh 0;
}

#searchListContainer #filters span{
    padding: 3vh;
    font-size: 3.05vh;
}
#searchListContainer #filters span:nth-child(1):hover{
    color: var(--colorPara);
    text-decoration: none;
    cursor:default;
}

#searchListContainer #filters span:hover{
    color: rgb(255, 49, 13);
    text-decoration: underline;
    cursor: pointer;
}

#searchCardContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.cardContainer{
    text-align: start;
    width: 80%;
    height: 25vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 2vh 0;
    padding: 0 2vh;
    border-collapse: collapse;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}
.coverImage{
    flex: 1;
}
.coverImage img{
    width: 80%;
    height: 25vh !important;
}
.bookDetails{
    flex: 3;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 0 3vh;
}
.bookDetails>h2{
    font-size: 3.5vh;
    font-weight: 600;
}
.bookDetails li{
    font-size: 3vh;
    font-weight: 400;
}

.actions{
    flex: 2;
    text-align: start;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.actions  button{
    width: 80%;
    padding: 1vh 3vh;
    font-size: 3vh;
    border-radius: 1vh;
    cursor: pointer;
    border: none;
}
.actions  button{
    background-color: #3468bd;
    color: white;
}


.actions button:nth-child(1):hover,.actions button:nth-child(2):hover{
    transform: scaleX(1.05);
}

.searching{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.searching img{
    width: 60vh;
    height: 60vh !important;
}
.searching h1{
    font-size: 5vh;
    color: var(--colorlogo);
}
.loading{
    width: 60vh;
    margin:  7% 30%;
}

@media screen and (max-width:2000px) {
 
    .cardContainer{
        width: 90%;
    }
    .actions{
        flex: 1;
    }
    .actions button{
        width: 100%;
        padding: 1vh;
    }
}

@media screen and (max-width:1750px) {
    #searchPageContainer .link{
        font-size: 4vh;
    }
    .cardContainer{
        width: 100%;
    }
    .bookDetails{
        flex: 2;
        padding: 0 2vh;
    }
    .bookDetails>h2{
        font-size: 3vh;
        font-weight: 600;
    }
    .bookDetails li{
        font-size: 2.5vh;
        font-weight: 400;
    }
    #searchListContainer #filters{
        width: 100%;
        margin: auto;
        padding: 3vh 0;
    }
    
    #searchListContainer #filters span{
        padding: 2vh;
        font-size: 3vh;
    }
}

@media screen and (max-width:1500px) {
 
    #searchListContainer #filters{
        width: 100%;
        padding: 2vh 0;
    }
    #searchPageContainer .link{
        font-size: 3.5vh;
    }
    
    #searchListContainer #filters span{
        padding: 1vh;
        font-size: 2.75vh;
    }
}

@media screen and (max-width:1200px) {
 
    .coverImage{
        flex: .5;
    }
    .coverImage img{
        width: 70%;
        height: 25vh !important;
    }
}
@media screen and (max-width:1015px) {
    #searchPageContainer .link{
        font-size: 2.70vh;
    }
    .bookDetails>h2{
        font-size: 2.5vh;
        font-weight: 600;
    }
    .bookDetails li{
        font-size: 2vh;
        font-weight: 400;
    }
    .actions button{  
        font-size: 2vh;
    }
}

@media screen and (max-width:700px) {
    #searchPageContainer .link{
        font-size: 4vh;
    }
    #searchListContainer{
        width: 90%;
        margin: 5vh auto;
    }
    #searchPageContainer{
        flex-direction: column;
        gap: 3vh;
        width: 100%;
    }
    #searchPageContainer>input{
        width: 90%;
    }
    .cardContainer{
        text-align: start;
        width: 60%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;  
    }
    .coverImage{
        padding-top: 3vh;
        width: 100%;
    }
    .coverImage img{
        width: 100%;
        height: 23vh !important;
    }
    .actions{
        width: 100%;
        flex: 2;
        flex-direction: row; 
    }
    .actions button{
        width: 100%;
        margin: 1vh;
    }
    #searchPageContainer .link{
        text-align: center;
     }
}


@media screen and (max-width:550px) {
    #searchListContainer{
        width: 100%;
        margin: 5vh 0;
        padding: 1vh;
    }
    .cardContainer{
        width: 95%;
        margin: 3vh auto;
        height: 45vh;
    }
    .searching h1{
        font-size: 3.5vh;
    }

}

@media screen and (max-width:450px) {
 
    .cardContainer{
        height: 55vh;
    }
    .searching h1{
        font-size: 3vh;
    }
}