body {
    background: #1f2129;
}

@font-face {
    font-family: myFont;
    src: url(./fonts/);
}

.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #151618;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: myFont;
    letter-spacing: 7px;
    padding: 2rem 4rem;
    border-radius: 20px;
    width: 400px;
    height: 100px;
    border-radius: 38px;
    background: #30323b;
    box-shadow: inset 5px 5px 21px #131418,
        inset -5px -5px 21px #4d505e;

}