*{
    margin: 0;
    padding: 0;
}

body
{
    background-color: #6EC1E4;
}
.home-words
{
    width: 792px;
    height: 387px;
    margin-top: 130px;
    margin-left: 250px;
    text-align: center;
    
}
.web-des
{
    font-family: 'Kanit', sans-serif;
    font-size: 60px;
    font-weight: bolder;
    color: whitesmoke;

} 
 .dynamic-txt{
    list-style: none;
    overflow: hidden;
    height: 90px;
    line-height: 90px;
    

}
.dynamic-txt li{
    position: relative;
    top: 0;
    animation: slide 12s steps(4) infinite;

}
@keyframes slide{
    100%{
        top: -360px;
    }
}
.dynamic-txt li span{
    position: relative;
}
.dynamic-txt li span::after{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    background: #6EC1E4;
    border-left: 2px solid whitesmoke;
    animation: typing 3s steps(10) infinite;
}
@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -60px 0 60px ;
    }
} 


.redsemi-donut{
    width: 100px;
    height: 50px;
    border-bottom: 50px solid #EF4853; 
    margin-top: -105px;
    margin-left: 987px;
    background-color: transparent;
    border-radius: 50%;

}
section:hover .ball1{
    animation: bounce 2s linear infinite;     
    
}
.redsemi-donut:hover{
    animation: rotate 2s linear infinite;    

}
@keyframes rotate{
    0%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}


.ball1{
    width: 30px;
    height: 30px;
    background-color: rgb(250, 189, 20);

    margin-top: -84px;
    margin-left: -28px;
    border-radius: 50%;

}

.displayflex{
    display: flex;
}


@keyframes bounce{
    0%,100%{
        transform: translateY(0px);
    }
    30%{
        transform: translateY(-200px);
    }
    40%{
        transform: translateY(-250px);
    }
    
}

.capsule{
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.capsule a{
    position: relative;
    display: inline-block;
    width: 160px;
    height: 50px;
    border: 2px solid black;
    border-radius: 40px;
    /* border-radius: 40%; */
}
.capsule a span{
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    color: black;
    /* border-radius: 40%; */
    background-color: rgb(236, 236, 38);
    border-radius: 40px;
    align-items: center;
    letter-spacing: 1.5px;
    font-size: 32px;
    font-family: 'Quicksand', sans-serif;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    text-align: center;



}

.capsule a span:nth-child(2)
{
    color: #fff;
    background-color: black;
    z-index: 2;
    transition: 0.5s;
    -webkit-clip-path: polygon(74% 0, 100% 0, 100% 100%, 70% 100%, 31% 47%);
    clip-path: polygon(74% 0, 100% 0, 100% 100%, 70% 100%, 31% 47%);
    
    
}
.capsule a span:nth-child(2):hover{
    -webkit-clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 0% 50%);
    clip-path: polygon(0 0, 100% 1%, 100% 100%, 0 100%, 0% 50%);
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 160px #fff;
}
.capsule a span:nth-child(1):hover ~ span:nth-child(2){
    -webkit-clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%, 100% 50%);
} 


.greensemi-donut{
    width: 25px;
    height: 50px;
    border-radius: 150px 0px 0px 150px;
    margin-top: -68px;
    margin-left: 406px;
    border-top: 20px solid #5DC2A6;
    border-left: 20px solid #5DC2A6;
    border-bottom: 20px solid #5DC2A6;

}
.whitesemi-donut{

        width: 50px;
        height: 25px;
        border-radius: 0px 0px 150px 150px;
        margin-top: -310px;
        margin-left: 299px;
        border-bottom: 20px solid whitesmoke ;
        border-left: 20px solid   whitesmoke ;
        border-right: 20px solid  whitesmoke;
}
.yellow-i{
    width: 25px;
    height: 120px;
    background-color: rgb(250, 189, 20);
    margin-top: 220px;
    margin-left: 835px;
}

.yellow-dot{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(250, 189, 20);
    margin-top: -549px;
    margin-left: 826px;
  }

.red-dot{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: rgb(250, 189, 20);
    margin-left: 1228px;
    margin-top: 199px;
}

.page7{
    width: 100vw;
    height: 50vh;
    background-color: black;
    color: #fff;
    font-family: 'Quicksand', sans-serif;
}
.upperfooter{
    display: flex;
    margin-left: 70px;
    border-top: 50px solid black;

}
.yellow-line{
    width: 7px;
    height: 60px;
    background-color: #f5c15d;
    margin-left: 20px;

}
.ml50{
    margin-left: 100px;

}
.bt5{
    border-top: 0.2px solid black;
}        
.socialize{
    display: flex;
    color: #fff;
    justify-content: center;
    font-size: 23px;
    border-top: 80px solid black ;

}   
.ml15{
    margin-left: 25px;
}      
.sign{
    display: flex;
    justify-content: center;
    font-family: 'Comforter Brush', cursive;
    border: 20px solid black;
    font-size: 20px;
}
.socialize-animation:hover{
    transform: translateY(-5px);
    color: #fff;
    text-shadow: 0 0 10px #fff,
    0 0 20px #fff,
    0 0 40px #fff,
    0 0 80px #fff,
    0 0 160px #fff;
    
    

}
footer{
    border-top: 80px solid transparent;
}
