.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.backimg{
  width: 100vw;
  height: 570px;
  /* background-size: cover; */
  position: relative;
}
/* .container{
  
} */

.All{
  position: relative;
  
}
.counter-text{
  position: absolute;
  /* background-color: white; */
  top: 0;
  left: 27vw;
  right: 25vw;
}
.texthead{
  text-align: center;
  /* color: whitesmoke; */
}

.inputext{
  width: 500px;
  margin: 0px 0px 0px 18px;
  background-color: transparent;
  border: 2px solid whitesmoke;
  border-radius: 2px;
}

.buttons{
  margin-left: 80px;
}
.whitetext{
  color: whitesmoke;
}